<p>
  patient-details works!
</p>
<table>
  <tr>
    <td>
<div *ngIf="init">
    <div class="table-responsive">          
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>City</th>
              <th>Country</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of patientDetails">
            <tr>
                <td></td>
              <td>{{item.PatientName}}</td>
              <td>{{item.FatherName}}</td>
              <td>{{item.Location}}</td>
              <td>{{item.Balance}}</td>
              <td>{{item.AdmittedDate}}</td>
              <td><a [routerLink]="['user', item.PatientName]">Edit</a></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </td>
    <td >
        <router-outlet></router-outlet>
    </td>
    </tr>

    </table>